body {
    margin: 0;
    background-color: #020617;
    color: #e2e8f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
canvas {
    background-color: #aad751;
    border: 3px solid #4ade80;
    margin-top: 16px;
}

.imagem{
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 315px;        /* tamanho da imagem no canto */
    height: auto;        /* mantém a proporção */
    object-fit: cover;
    border-radius: 8px;
    display: block;
    z-index: 10;         /* fica por cima de outros elementos */
}

.control{
    flex-direction: column;
}
